.h5 { 
    font-family: "Roboto", sans-serif;
}

li {
    list-style-type: none;
    display: inline-block;
    justify-content: center;
    margin-right: 15px;
    margin-left: 15px;
}

.big-icon {
    font-size: 40px;
    color: rgb(102, 102, 102);
}

.big-icon:hover {
    color: black;
    transform: scale(1.2);
    transition: all 0.3s ease;
}

.fontroboto {
    font-family: "Roboto", sans-serif;
}

.fontsans {
    font-family: "Sans-serif", sans-serif;
}

.fontmonsterat {
    font-family: "Montserrat", sans-serif;
}

.section {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
}

.endsectionarea {
height: 20px;
}

tr{
    border-style: none;   
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}