.h5 { 
    font-family: "Roboto", sans-serif;
}

ul, ol {
  list-style-type: none;
}

li {
    list-style-type: none;
    display: inline-block;
    justify-content: center;
    margin-right: 15px;
    margin-left: 15px;
}

.big-icon {
    font-size: 40px;
    color: rgb(102, 102, 102);
}

.big-icon:hover {
    color: black;
    transform: scale(1.2);
    transition: all 0.3s ease;
}

.fontroboto {
    font-family: "Roboto", sans-serif;
}